eader {
    background-color: #2F3644;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1100px;
    margin: 0 auto;

    height: 100px;
}
main .name{
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 1rem;
}
.name h1 {
    font-family: Heebo;
    font-weight: 700;
    font-size: 3.5rem;
    color: #29EBAA;
    cursor: pointer;
    margin-left: 2rem;
}
.options{
    margin-top: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.options button{
    font-size: 3.2rem;
    font-family: Heebo;
    font-weight: 700;
    margin: 1.0rem;
    background-color:#29EBAA ;
    border: 1;

    color: #fff;

    padding: 10px 20px;
    border-radius: 10px;

    cursor: pointer;
}
.options button:hover{
    background-color: #29ebaa96;
}